@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/inter-light.woff2") format("woff2"), url("../fonts/inter-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/inter-medium.woff2") format("woff2"), url("../fonts/inter-medium.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: auto;
  font-family: "Inter", "Arial", sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #ffffff;
  box-shadow: inset 0 0 0 1000px #ffffff;
  -webkit-text-fill-color: #000000;
}

input,
textarea {
  border-radius: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
}

.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.wrapper main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.tasks {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tasks__title {
  margin: 0 0 50px 20px;
  font-weight: 300;
  line-height: 39px;
}

.tasks__tabs-list {
  margin: 0 0 30px;
}

.tasks__checklist:not(:last-child) {
  margin: 0 0 30px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 0 40px;
}

.tabs__item {
  font-size: 20px;
  line-height: 24px;
}

.tabs__item:last-child {
  margin: 0 0 0 auto;
}

.btn {
  display: inline-block;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.btn:hover:not([disabled]) {
  opacity: 0.7;
}

.btn:focus-visible:not([disabled]) {
  opacity: 0.7;
}

.btn:active:not([disabled]) {
  opacity: 0.5;
}

.btn svg {
  display: block;
}

.btn.is-active {
  font-weight: 600;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.btn--add-checklist {
  color: #5f9cf8;
}

.btn--delete-checklist {
  color: #ff5a5a;
}

.btn--delete-item {
  color: #ff5a5a;
}

.btn--add-item {
  color: #5f9cf8;
}

.checklist {
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 15px;
}

.checklist__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 18px;
  gap: 0 30px;
}

.checklist__rename {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 17px;
}

.checklist__rename svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.checklist__title {
  min-width: 30px;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}

.checklist__title:focus-visible:not([disabled]) {
  outline: none;
}

.checklist__btn-delete-checklist {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.checklist__list {
  margin: 0 0 17px;
  padding: 0;
  list-style-type: none;
}

.checklist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 17px;
  border-bottom: 2px solid #beb5b5;
  gap: 0 30px;
}

.checklist__item label {
  position: relative;
  padding: 0 0 0 37px;
}

.checklist__item input {
  display: none;
}

.checklist__item input:checked + .checklist__custom-checkbox {
  background-color: #5a7fff;
}

.checklist__item input:checked + span + span {
  color: #979797;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.checklist__item span:focus-visible:not([disabled]) {
  outline: none;
}

.checklist__custom-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #5a7fff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checklist__custom-label {
  display: block;
  min-width: 30px;
}

.checklist__btn-delete-item {
  margin: 0 20px 0 0;
}

@media (max-width: 1023px) {
  .container {
    padding: 0 25px;
  }

  .tasks {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .tasks {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .tasks__title {
    margin: 0 0 30px 10px;
    font-size: 24px;
  }

  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    font-size: 14px;
    gap: 5px 0;
  }

  .tabs__item:last-child {
    margin: 0;
  }

  .btn--delete-item svg {
    width: 16px;
    height: 21px;
  }

  .btn {
    font-size: 16px;
  }

  .checklist {
    padding: 15px;
  }

  .checklist__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 20px 0;
  }

  .checklist__rename svg {
    width: 16px;
    height: 14px;
  }

  .checklist__title {
    font-size: 16px;
  }

  .checklist__item {
    font-size: 16px;
    gap: 0 10px;
  }

  .checklist__item label {
    padding: 0 0 0 25px;
  }

  .checklist__custom-checkbox {
    width: 16px;
    height: 16px;
  }

  .checklist__btn-delete-item {
    margin: 0 5px 0 0;
  }
}